// Front page
#page-site-index {
    .fp-header {
        background-size: cover;
        min-height: 380px;
        color: white;
        display: flex;
        .container {
            align-self: center;
            h3 {
                font-size: 2.5em;
                margin-bottom: 1em;
            }
        }
    }
    .card {
        border: none;
    }

    .block {
        .card-body {
            text-align: center;
            .card-title {
                font-size: xx-large;
                color: $primary;

                &::after {
                    content: "";
                    width: 2rem;
                    height: 2px;
                    background-color: $primary;
                    margin: 0.5rem auto 1em;
                    display: block;
                }
            }
            .content {
                text-align: initial;
            }
        }
        margin-top: 4em;
    }
    .block_sponsors.block {
        .card-body {
            .card-title {
                color: $gray-500;
                &::after {
                    content: none;
                }
            }
            img.logo {
                max-height: 81px;
            }
        }
    }
}

// Block featured courses
.block_featured_courses {
    .thumbnail {
        box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.15);
        background-color: $white;

    }
}

// Block vetagro news

.block_vetagro_news {
    .glide__slide a {
        height: 300px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}
