// Navbar
$light-drawer-shade: lighten($primary, 12);
$drawer-linear-gradient: linear-gradient(to bottom, $light-drawer-shade, $primary);
.navbar-brand {
    font-size: 1rem; // Normal font.
    padding-top: initial;
    padding-bottom: initial;
}

.site-name,
.custom-menu {
    color: $gray-600;
    min-width: 30%;
}

.site-name {
    font-size: x-large;
    font-family: "Marianne";
    font-style: italic;
    vertical-align: middle;
}
.navbar-light .nav-main-content .navbar-nav .nav-link {
    color: $gray-900;
}

body.notloggedin .navbar .nav-main-content {
    margin-left: auto;
}

.secondary-navigation {
    padding: 0 calc(0.5rem + 15px);
    .navigation {
        padding: 0;
    }
}

.navbar.fixed-top {
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.15);
}

.navbar.fixed-top .navbar-brand .logo {
    max-height: $navbar-height;
}

.simplesearchform {
    min-width: 40px;
    min-height: 40px;
    text-align: center;
    margin: 0 .3rem;
    position: relative;
    .fa-bell,
    .fa-comment,
    .fa-search {
        color: $body-color;
        margin: 0;
    }
}
.simplesearchform .collapse.show,
.simplesearchform .collapsing {
    position: inherit;
    height: 40px;
    background-color: transparent;
    right: 0;
    width: 200px;
}

.popover-region-toggle {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.primary-navigation,
.secondary-navigation {
    display: flex;
    align-items: center;
    .navigation {
        height: 35px;
        .nav-link {
            height: 35px;
            font-size: 17px;
            padding: 0;
            margin: 0 0.7rem;
            &:hover,
            &:focus {
                background-color: transparent;
                border-bottom-color: $primary;
                box-shadow: none;
            }
        }
        .nav-item:first-child .nav-link {
            margin-left: 0;
        }
    }
}
.secondary-navigation {
    margin-bottom: 2rem;
}
.path-course .page-header-headings .h2 {
    font-size: 50px;
    margin-bottom: 3rem;
}
.path-course .page-header-headings .h2:after {
    content: "";
    background: $primary;
    height: 3px;
    display: block;
    margin-top: 0.5rem;
    width: 14%;
}
