.bg-dark-grey {
    background-color: $gray-900;
}

.pagelayout-frontpage {
    #region-main {
        border: initial;
        padding: initial;
    }
}

.header-image {
    max-height: $navbar-height;
}

#page-wrapper {
    nav.navbar {
        .logo img,
        .rf-logo {
            max-height: 78px;
            padding: 5px;
        }

        @include media-breakpoint-down(sm) {
            .logo img,
            .rf-logo {
                max-height: 40px;
                padding: initial;
            }
        }
    }
}

#page {
    margin-top: auto;
    padding-top: $navbar-height;
}

#page-login-index #page {
    margin-top: auto;
    padding-top: initial;
}
