// Post CSS From Vetagro
@import "page.scss";
@import "navigation.scss";
@import "footer.scss";
@import "frontpage.scss";
@import "login.scss";
@import "ressourcelibrary.scss";
@import "syllabus.scss";


// Fixes

// Fix the issue with block menus partially hidden

#region-main {
    overflow-x: visible;
}

.breadcrumb {
    background-color: transparent;
}

// Go to top link from 3.9

$gototop-bottom-position: 50px !default;

#goto-top-link {
    visibility: hidden;
    opacity: 0;
    transition: opacity .7s ease 0s, visibility .1s ease .8s;
    display: block;
    position: fixed;
    bottom: $gototop-bottom-position;
    right: 0;

    a {
        position: absolute;
        right: 0;
        transform: translateY(-100%);
    }
}

@include media-breakpoint-down(sm) {
    #goto-top-link {
        bottom: 0;
    }
}

body.scrolled #goto-top-link {
    opacity: 1;
    visibility: visible;
    transition: visibility 0s ease 0s, opacity .7s ease .1s;
}

@media (max-width: 767.98px) {
    #goto-top-link {
        bottom: 0;
    }
}

body.scrolled #goto-top-link {
    opacity: 1;
    visibility: visible;
    transition: visibility 0s ease 0s, opacity .7s ease .1s;
}