// Post CSS From Vetagro

.bg-dark-grey {
    background-color: $gray-900;
}
.pagelayout-frontpage {
    #region-main {
        border: initial;
        padding: initial;
    }
}

.header-image {
    max-height: $navbar-height;
}

#page-wrapper {
    nav.navbar {
        .logo img,
        .rf-logo {
            max-height: 78px;
        }

        @include media-breakpoint-down(sm) {
            .logo img {
                max-width: 35px;
            }
            .rf-logo {
                width: 100px;
            }
        }
    }
}

#page {
    margin-top: $navbar-height;
}

// Navbar


.navbar-brand {
    font-size: 1rem; // Normal font.
    padding-top: initial;
    padding-bottom: initial;
}

.site-name,
.custom-menu {
    color: $gray-600;
    min-width: 30%;
}

.navbar-light .nav-main-content .navbar-nav .nav-link {
    &:focus,
    &:hover {
        color: $dark;
        font-weight: bold;
        box-shadow: inset 0 -0.1em white,
        inset 0 -0.2em $primary; // No text-decoration thickness available across browsers.
        //https://developer.mozilla.org/fr/docs/Web/CSS/text-decoration-thickness
    }

    color: $gray-900;
}


.navbar {
    box-shadow: none;
}

#page-footer {
    a,
    a:hover,
    a:active,
    a:visited {
        color: $gray-600;
        text-decoration: none;
    }

    a:focus {
        color: $gray-900;
    }
    h3, .h3 {
        font-size: 1.5rem;
        font-weight: bold;
    }
    .infos-footer {
        width: 90%;
    }
}
.useful-links {
    li {
        border-bottom: solid 0.5px $gray-600 ;
        margin-top: 1rem;
    }
}
.address {
    ul {
        list-style: none;
        padding: 0;
    }
    li.postaddress,
    li.phone {
        padding-left: 1.3em;
        &::before {
            display: inline-block;
            margin-left: -1.3em; /* same as padding-left set on li */
            width: 1.3em;
            font-family: "FontAwesome", serif;
        }
    }
    li.postaddress::before {
        content: "\f041";
    }
    li.phone::before {
        content: "\f095";
    }
    li div {
        padding-left: 0.3em;
        color: $gray-600;
    }
    li {
        margin-top: 1rem;
    }
}

a.external-link {
    &::after {
        content: "\f08e";
        font-family: "FontAwesome", serif;
    }
}


// Atto Styles


// Fixes

// Fix the issue with block menus partially hidden

#region-main {
    overflow-x: visible;
}

.breadcrumb {
    background-color: transparent;
}

// Go to top link from 3.9

$gototop-bottom-position: 50px !default;

#goto-top-link {
    visibility: hidden;
    opacity: 0;
    transition: opacity .7s ease 0s, visibility .1s ease .8s;
    display: block;
    position: fixed;
    bottom: $gototop-bottom-position;
    right: 0;

    a {
        position: absolute;
        right: 0;
        transform: translateY(-100%);
    }
}

@include media-breakpoint-down(sm) {
    #goto-top-link {
        bottom: 0;
    }
}

body.scrolled #goto-top-link {
    opacity: 1;
    visibility: visible;
    transition: visibility 0s ease 0s, opacity .7s ease .1s;
}

@media (max-width: 767.98px) {
    #goto-top-link {
        bottom: 0;
    }
}

body.scrolled #goto-top-link {
    opacity: 1;
    visibility: visible;
    transition: visibility 0s ease 0s, opacity .7s ease .1s;
}
