// This file is intentionally empty.

.pagelayout-frontpage {
    #region-main {
        border: initial;
        padding: initial;
    }
}

.header-image {
    max-height: $navbar-height;
}

#page-wrapper {
    nav.navbar {
        .logo img,
        .rf-logo {
            max-height: 78px;
        }

        @include media-breakpoint-down(sm) {
            .logo img {
                max-width: 35px;
            }
            .rf-logo {
                width: 100px;
            }
        }
    }
}

#page {
    margin-top: $navbar-height;
}

// Navbar


.navbar-brand {
    font-size: 1rem; // Normal font.
    padding-top: initial;
    padding-bottom: initial;
}

.site-name,
.custom-menu {
    color: $gray-600;
    min-width: 30%;
}

.navbar-light .navbar-nav .nav-link {
    &:focus,
    &:hover {
        color: $gray-900;
        font-weight: bold;
        text-decoration: $primary underline;
    }

    color: $gray-900;
}


.navbar {
    box-shadow: none;
}

#page-footer {
    a,
    a:hover,
    a:active,
    a:visited {
        color: $gray-600;
        text-decoration: none;
    }

    a:focus {
        color: $gray-900;
    }
}

// Atto Styles


// Fixes

// Fix the issue with block menus partially hidden

#region-main {
    overflow-x: visible;
}

.breadcrumb {
    background-color: transparent;
}

// Go to top link from 3.9

$gototop-bottom-position: 50px !default;

#goto-top-link {
    visibility: hidden;
    opacity: 0;
    transition: opacity .7s ease 0s, visibility .1s ease .8s;
    display: block;
    position: fixed;
    bottom: $gototop-bottom-position;
    right: 0;

    a {
        position: absolute;
        right: 0;
        transform: translateY(-100%);
    }
}

@include media-breakpoint-down(sm) {
    #goto-top-link {
        bottom: 0;
    }
}

body.scrolled #goto-top-link {
    opacity: 1;
    visibility: visible;
    transition: visibility 0s ease 0s, opacity .7s ease .1s;
}

@media (max-width: 767.98px) {
    #goto-top-link {
        bottom: 0;
    }
}

body.scrolled #goto-top-link {
    opacity: 1;
    visibility: visible;
    transition: visibility 0s ease 0s, opacity .7s ease .1s;
}
