{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Page footer.
}}
<div id="goto-top-link">
    <div class="course-content-maxwidth d-flex justify-content-end">
        {{! go to top is sticky to footer so needs to be sibling }}
        <a class="btn btn-outline-primary icon-no-margin" role="button" href="#">
            {{#pix}} i/up, core, {{#str}} totop, theme_vetagro {{/str}}{{/pix}}
        </a>
    </div>
</div>
<footer id="page-footer" class="py-3 text-white bg-dark pt-5">
    <div class="container-fluid infos-footer">
        <div class="row justify-content-center">
            <div class="col col-lg-2 useful-links">
                <h3>{{#str}}usefullinks, theme_vetagro{{/str}}</h3>
                {{# output.custom_menu_flat }}
                    <ul class="list-unstyled pt-3">
                        {{> theme_boost/custom_menu_footer }}
                    </ul>
                {{/ output.custom_menu_flat }}
            </div>
            <div class="col-auto col-lg-10">
                <div class="container">
                    <div class="row">
                        {{# additionalinfo.addresses }}
                            <div class="col">
                                {{< theme_vetagro/footer_address }} {{/ theme_vetagro/footer_address}}
                            </div>
                        {{/ additionalinfo.addresses }}
                    </div>
                    <div class="row  extended-footer">
                        {{# additionalinfo.membership }}
                            {{< theme_vetagro/footer_membership }} {{/ theme_vetagro/footer_membership}}
                        {{/ additionalinfo.membership }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container legal-footer bg-dark-grey">
        <div class="row-fluid justify-content-center">
            {{# additionalinfo.otherlinks }}
                <div class="col col-12 col-md">
                    <a href="{{link}}">{{label}}</a>
                </div>
            {{/ additionalinfo.otherlinks }}
                        <div class="tool_usertours-resettourcontainer">
            </div>
            {{{ output.standard_end_of_body_html }}}
        </div>
    </div>
</footer>
